= form_for @team do |f|
  - if @team.errors.any?
    .error_explanation
      %h2
        = pluralize(@team.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @team.errors.full_messages.each do |msg|
          %li
            = msg
  = f.hidden_field :user_id, :value => current_user.id
  .container
    .row
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control', style: "width:250px;"
    .row
      .active
        = f.submit :class => 'btn btn-primary'