%p#notice= notice

%p
  %b Team:
  = @board.team.name

%table.table.table-striped
  %tr
    %th Sprint
    %th Progress
    %th

  - @board.sprints.reverse.each do |sprint|
    %tr
      %td
        %p.text
          = 's' + sprint.number.to_s
      %td
        .progress
          .progress-bar.progress-bar-success{:role => "progressbar",
                                             "aria-value" => sprint.remaining_time.to_s,
                                             "aria-valuemin" => "0",
                                             "aria-valuemax" => sprint.estimate.to_s,
                                             :style => "width: #{sprint.percent_done}%"}
            %font(color="black")
              = sprint.remaining_time.to_s + 'h left'
      %td
        .text-right
          = link_to 'Show', sprint_path(sprint.id), class: 'btn btn-info'
          - if current_user.admin
            = link_to 'Edit', edit_sprint_path(sprint.id), class: 'btn btn-primary'
            = link_to 'Delete', sprint_path(sprint.id),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'btn btn-danger'

= link_to 'New sprint', sprints_path(:sprint => {:board_id => @board}), :method => :post
= link_to 'Back', boards_path
